<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>

    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../../semantic/dist/semantic.css">
    <link rel="stylesheet" type="text/css" href="../../semantic/dist/login.css">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="../../semantic/dist/semantic.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet">



    <script type="text/javascript">
        $(document).ready(function () {
            $("#login_submit").click(function (e) {
                e.preventDefault();
                var form_data = {
                    user_id: $("#user_id").val(),
                    user_pw: $("#user_pw").val(),
                    is_ajax: 1
                };
                $.ajax({
                    type: "POST",
                    url: '/',
                    data: JSON.stringify(form_data),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (response) {
                        if (response.message == "success") {
                            $('#sucessModal')
                                .modal({
                                    closable : true,
                                    observeChanges: true,
                                    onHidden : function(){
                                        location.href = "/map_view";
                                    }
                                })
                                .modal('show');
                        }
                        else if (response.message == "failToLogin") {
                            $('#failModalHeader').html('로그인 실패');
                            $('#failModalMessage').html('<p>아이디와 비밀번호를 확인하세요</p>');
                            $('#failModal')
                                .modal('setting', 'closable', false)
                                .modal('show');
                        }
                        else if (response.message == "needEmailVerification") {
                            $('#failModalHeader').html('이메일 인증 실패');
                            $('#failModalMessage').html('<p>이메일 인증이 필요합니다</p>');
                            $('#failModal')
                                .modal({
                                    closable: false,
                                    onApprove : function () {
                                        location.href = "/verification?userid="+$('#user_id').val();
                                    }
                                })
                                .modal('show');
                        }
                    },
                    error: function (response) {
                        console.log(response);
                    }
                });
            });
            $("#login_submit").submit(function (e) {
                return false;
            });
        });
    </script>
</head>

<body>
<div style="margin-top: 17%; width: 100%; font-size:10em; color: white;"><center>VIGEO</center></div>
<div style="margin-top: 5%; width: 100%; font-size:1.5em; color: white;"><center>GEOgraphic information data VIsualization tool</center></div>
<div class="ui one column center aligned grid">

    <div class="column four wide form-holder">
        <h2 class="center aligned header form-head">Sign in</h2>
        <div class="ui form">
            <form class="form-signin" method="post">
                <div class="field">
                    <input type="text" id="user_id" placeholder="Email">
                </div>
                <div class="field">
                    <input type="password" id="user_pw" placeholder="password">
                </div>
                <div class="field">
                    <input id="login_submit" type="submit" value="SIGN IN" class="ui button large fluid teal">
                </div>
                <div class="field">
                    <CENTER><h5 style="color: white"> Don't Have an Account?  <a href="/register">Registe Now</a></h5></CENTER>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="ui basic modal" id ="sucessModal">
    <div class="ui icon header">
        <i class="pointing up icon"></i>
        로그인 성공
    </div>
    <div class="content">
        <CENTER><p>MAP VIEW 화면으로 이동합니다.</p></CENTER>
    </div>
    <div class="actions">
        <center><div class="ui green ok inverted button"><i class="checkmark icon"></i>OK</div></center>
    </div>
</div>

<div class="ui small modal" id="failModal">
    <div class="header" id="failModalHeader"></div>
    <div class="content" id="failModalMessage"></div>
    <div class="actions">
        <div class="ui positive right labeled icon button">
            OK
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>

</body>
</html>
