<html>
<head>
<title>Node.JS Email application</title>

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="../../semantic/dist/semantic.min.css">
<link rel="stylesheet" type="text/css" href="../../semantic/dist/login.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script>


<script>
 $(document).ready(function(){
     var from,to,subject,text;
     $("#send_email").click(function(){
         to=$("#to").val();
         $("#message").text("Sending E-mail...Please wait");
         $.get("/send",{to:to},function(data){
         if(data=="sent")
         {
             $("#message").empty().html("<p>Email is been sent at "+to+" . Please check inbox !</p>");
         }
 });
     });
 });
</script>
</head>
<body>

<div class="ui one column center aligned grid">
<div class="column six wide form-holder">
  <h2 class="center aligned header form-head">Email verification</h2>

  <div class="ui form">
    <div class="field">
      <input type="text" id="to" placeholder="Enter E-mail which you want to verify" required/>
    </div>
    <div class="field">
      <button class="ui button large fluid green" id="send_email">Send Email</button>
    </div>
    <div>
      <span id="message"></span>
    </div>
    <div>
      <CENTER><h5><a href = "/">CANCEL</a></h5></CENTER>
    </div>
  </div>
</div>
</div>

</body>
</html>
